@import url('reset.css');
@import url('fonts.css');

.intro {
    background-image: linear-gradient(90.25deg, #2E1E49 0.27%, rgba(46, 30, 73, 0.1) 54.68%),url('../images/intro-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-gradient {
    background: rgb(56, 36, 89, 0.7);
}

.intro__header {
    padding: 30px 0 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 35px;
}

.header-logo:last-child {
    margin-right: 0px;
}

.header__right {
    display: flex;
}

.header-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-right: 60px;
}

.header-text:last-child {
    margin-right: 0;
}

.intro__content {
    padding: 57px 60px 177px;
}

.intro-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #30FFCD;
    margin-bottom: 28px;
}

.intro-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 628px;
    margin-bottom: 47px;
}

.intro-subtext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.intro__content span {
    display: inline-block;
    border-bottom: 2px dashed #FFE920;
    padding-bottom: 1px;
}

.gain {
    padding: 110px 0 100px;
}

.gain__header {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gain-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 50px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #382459;
}

.gain-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.2857px 29.5238px;
    background: #FF1DC0;
    border-radius: 48px;
    width: 224px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0508px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.gain-btn:hover {
    border: 2px solid #FF1DC0;
    background-color: #ffffff;
    color: #FF1DC0;
}