@import url('reset.css');
@import url('fonts.css');

.intro {
    background-image: linear-gradient(90.25deg, #2E1E49 0.27%, rgba(46, 30, 73, 0.1) 54.68%),url('../images/intro-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-gradient {
    background: rgb(56, 36, 89, 0.7);
}

.intro__header {
    padding: 30px 0 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 35px;
    margin-bottom: 20px;
}

.header-logo:last-child {
    margin-right: 0px;
}

.header__right {
    display: flex;
    margin-bottom: 20px;
}

.header-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-right: 60px;
}

.header-text:last-child {
    margin-right: 0;
}

.intro__content {
    padding: 57px 60px 177px;
}

.intro-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #30FFCD;
    margin-bottom: 28px;
}

.intro-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 628px;
    margin-bottom: 47px;
}

.intro-subtext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.intro__content span {
    display: inline-block;
    border-bottom: 2px dashed #FFE920;
    padding-bottom: 1px;
}

.gain {
    padding: 110px 0 50px;
}

.gain__content {
    padding: 0 60px;
}

.gain__header {
    display: flex;
    justify-content: space-between;
}

.gain-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 50px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #382459;
    margin-bottom: 136px;
}

.gain-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.2857px 29.5238px;
    background: #FF1DC0;
    border-radius: 48px;
    width: 224px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0508px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

#gain-btn2 {
    display: none;
}

.gain-btn:hover {
    border: 2px solid #FF1DC0;
    background-color: #ffffff;
    color: #FF1DC0;
}

.gain__cards {
    display: flex;
    flex-wrap: wrap;
}

.gain-card {
    margin-bottom: 50px;
}

.gain-card:first-child {
    margin-right: 170px;
}

.gain-icon {
    margin-bottom: 34px;
}

#gain-icon-id2 {
    margin-bottom: 16px;
}

.gain-card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #382459;
    margin-bottom: 30px;
}

.gain-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #382459;
    width: 325px;
}

.statistics {
    background: #382459;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.statistics__content {
    padding: 100px 60px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
}

.statistics__block {
    margin-bottom: 60px;
}

.statistics__block:nth-child(3) .statistics-text {
    width: 376px;
}

.statistics-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #30FFCD;
    margin-bottom: 25px;
}

.statistics-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 300px;
}

.statistics-subtext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10.0042px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.62;
}

@media screen and (max-width: 1000px) {
    .header__right {
        display: none;
    }
}

@media screen and (max-width: 934px) {
    #gain-btn2 {
        display: block;
    }

    .gain-btn {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .header__left {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .intro__content {
        padding-left: 0;
        padding-right: 0;
    }

    .gain__content {
        padding-left: 0;
        padding-right: 0;
    }

    .statistics__content {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 450px) {
    .intro-title {
        font-size: 40px;
        line-height: 50px;
    }

    .intro-subtext {
        font-size: 13px;
        line-height: 13px;
    }

    .intro-text {
        font-size: 14px;
        line-height: 20px;
    }

    .gain-title {
        font-size: 36px;
        line-height: 45px;
    }

    .gain-text {
        width: 100%;
    }
}

